/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#background{

}

#book{
	
}

#editView{

}
#editingPanel{
	-fx-background-image:url("photos/blue-background.jpg");
	-fx-background-size: 100% 100%;
}